.App {
  text-align: center;
  background-color:lightslategray;
  min-height: 710px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.textField {
  width: 200px;
}
.paperSingIn{
  background-color: lightgreen !important
}
.paperSingUp{
  background-color:lightsalmon !important
}
.btnEvent{
  width: 320px;
  height: 60px;
  background-color:#90EE90;
}
.navBarMain{
  background-color: darkorange;
  height: 60px;
  
}