.App {
  text-align: center;
  background-color:lightslategray;
  min-height: 710px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.textField {
  width: 200px;
}
.paperSingIn{
  background-color: lightgreen !important
}
.paperSingUp{
  background-color:lightsalmon !important
}
.btnEvent{
  width: 320px;
  height: 60px;
  background-color:#90EE90;
}
.navBarMain{
  background-color: darkorange;
  height: 60px;
  
}

/* login */
.btnl ,.btnr{
  width: 48%;
  margin: 10px 4px;
  
}
.maintop{
  background-color: #0067D6;
  border-radius:10px; 
  width: 97%;
  margin: 5px;
  margin-top: -31px;
}
.modal-body{
  text-align: center !important
}
.pas{
  float: left;
  position: relative;
  padding-left: 160px;

}
.AppBar{
  /* width: 800px;
  color:red; */
background-color: azure;
text-align: center ;
padding-left: 300px;
margin-top: -50px

}