.App {
  text-align: center;
  /* background-color:lightslategray; */
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body{
overflow-y: auto;
overflow-x: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.textField {
  width: 200px;
}
.paperSingIn{
  background-color: lightgreen !important
}
.paperSingUp{
  background-color:lightsalmon !important
}
.btnEvent{
  width: 320px;
  height: 60px;
  background-color:#90EE90;
}
.navBarMain{
  /* background-color: darkorange; */
  height: 60px;
  position:fixed;
  
}



*{
  box-sizing: border-box;
}
/* login */
.btnl ,.btnr{
  width: 48%;
  margin: 10px 4px;
  
}
.maintop{
  background-color: #0067D6;
  border-radius:10px; 
  width: 97%;
  margin: 5px;
  margin-top: -31px;
}
.modal-body{
  text-align: center !important
}
.pas{
  float: left;
  position: relative;
  padding-left: 160px;

}
.AppBar{

text-align: center ;
margin-top: -55px
}
.itemEvent , .itemcategories{
/* color:black; */
width: 114% !important;
margin-left: -40px !important;
}
.divBtn{
  margin: 5px;
}
.myColor{
text-align: left;
margin: 2px;

}
.color{
margin-right: 10px;
margin: 10px;
border-radius: 5px;
}

.display_result{
width: 100%;
height: 300px;
border: solid grey 1px;

}
/* .display_rsvp{
 width: 80%;
height: 300px;
border: solid grey 1px;
} */
.iteminvitations{
  float: left;
  width: 80%;
  border: solid 1px #3d5afe;
padding: 15px;
background-color: #00b0ff;
z-index: 8;
color: white;
font-size: 16px;
margin: 10px;
border-radius: 10px;
}
/* .iteminvitations:hover { 
  opacity: 0.5;
} */
/* .btnicon{
  padding-left: 12px
} */
.btnicon i{
  padding-left: 20px
}
.btnicon i:hover{
color: black;
}
.addTable{
  position: fixed;
}


.btnSend{
  margin-left: 40px
}
/* #x3 {
  position: fixed;
} */

